body {
    padding-top: 80px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo-izquierda,
.logo-derecha {
    text-align: left;
}

.logo-izquierda img,
.logo-derecha img {
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: 0;
}

.informacion {
    flex: 1;
    text-align: center;
}

.informacion h1 {
    text-align: center;
    font-size: 5mm;
    margin: 0;
    padding: 10px 0;
}

.main {
    margin-right: auto;
    text-align: right;
}

.rightcolumn {
    color: white;
    background-color: #333;
    padding: 10px 20px;
    text-decoration: none;
}

.card p {
  font-size: 3.5mm;
}

.inputBox {
    margin-bottom: 10px;
}

ul.page-control {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.page-control > li {
    display: inline;
}

.page-control input {
    outline: none;
    border: 1px solid #ccc;
    height: 22px;
    width: 40px;
    text-align: right;
    padding: 1px;
}
.page-control a, .page-control span {
    float: left;
    padding: 4px 12px;
    line-height: 18px;
    text-decoration: none;  
}